<!--<h2>{{hero}}</h2> Lo que hace es mostrar el atributo que hemos añadido a la clase-->
<!--Como cambiamos el atributo de la clase por un objeto de la interfaz, vamos a mostrar los atributos del objeto-->
<h2>{{hero.name | uppercase}} Details</h2> <!-- "| uppercase" formatea el binding a mayúsculas, porque basicamente el nombre lo empipamos hacia uppercase activando la UppercasePipe -->
    <div><span>id: </span>{{hero.id}}</div>
    <div> <!--Como a parte de mostrarse el atributo nombre tiene que poderse modificar, lo mostraremos en un input y estableceremos un binding de dos vías, si el de una {{hero.name}} solo muestra [(ngModel)]="hero.name" muestra y cambia-->
        <label for="name">Hero name: </label>
        <input id="name" [(ngModel)]="hero.name" placeholder="name">
        <!--Ahora deja de funcionar la app porque ngModel no viene por defecto sino que pertenece al opcional FormsModule-->
    </div>


<!--Para mostrar el array de heroes constante que creamos y que hemos importado en la componente usamos lo que seria un vfor para no repetir el código por cada héroe del array-->

<h2>My Heroes</h2>
<ul class="heroes">
  <!--Itero sobre los héroes y a cada uno le asigno un list item-->
  <li *ngFor="let hero of heroesConstantes" (click)="onSelect(hero)" [class.selected]="hero === heroeSeleccionado"> <!--Ponemos un evento para el click, de forma que se llame al método onSelect y se le pase como parámetro el objeto heroe correspondiente al list item que se ha picado-->
      <span class="badge">{{hero.id}}{{hero.name}}</span>
    
  </li>
</ul>
<!--Para aplicar una clase del css a un elemento html cuando se valide una condiccion existe un binding que nos permite indicarla. Así cuando el héroe de la iteracion actual sea el mismo que el de la variable (i.e. se haya picado sobre él) entonces aplicará al elemento el estilo de la clase selected en vez del de li solo por defecto-->

<!--ponemos el selector de la componente hija y un bind que le pasa al atributo hero de la componente hija el valor que en esta clase tiene el heroe seleccionado-->
<app-hero-detail [hero]="heroeSeleccionado"></app-hero-detail>

<!--Now when the user clicks a hero in the list, the selectedHero changes. When the selectedHero changes, the property binding updates hero and the HeroDetailComponent displays the new hero.-->